:root {
    --shop-detail-margin-left: 0.5rem;
    --shop-detail-padding-top: 0.5rem;
    --my-red: #F01B1A;
}

body {
    background: rgba(240, 240, 240, 1);
}

#shop-list-wrapper {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
}

.shop-item-container {
    display: flex;
    background: white;
    flex-direction: column;

    border-radius: 8px;
}

.shop-item-title {
    margin-left: var(--shop-detail-margin-left);
    margin-top: 0.5rem;
    margin-right: 0.5rem;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;

    font-family: sans-serif-med sans-serif;

    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.shop-item-pict {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
}

.shop-item-pict img {
    width: 100%;

    border-radius: 8px;
}


.shop-quan-and-sales {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: var(--shop-detail-margin-left);
    margin-right: var(--shop-detail-margin-left);
    padding-top: var(--shop-detail-padding-top);
}

.shop-sales {
    font-size: .8em;
}

.shop-quan {
    font-size: 0.8em;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 2px;
}

.shop-quan :nth-child(1) {
    height: 100%;
    display: flex;
    align-items: center;

    color: var(--my-red);

    border-radius: 2px 0 0 2px;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    background: rgb(254, 210, 209);
}

.shop-quan :nth-child(2) {
    height: 100%;
    display: flex;
    align-items: center;

    color: var(--my-red);

    background: rgb(249, 233, 230);
    padding-left: 0.4rem;
    padding-right: 0.4rem;
}

.item-price {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: var(--shop-detail-margin-left);
    margin-right: var(--shop-detail-margin-left);
    padding-top: var(--shop-detail-padding-top);
}

.item-price :nth-child(1) {
    color: var(--my-red);
    font-size: 1.2em;
}

.item-price :nth-child(2) {
    color: #666666;
    font-size: 1em;
    text-decoration: line-through;
    margin-left: 0.8em;
}

.item-price :nth-child(1):before {
    content: '¥';
}

.item-price :nth-child(2):before {
    content: '¥';
}
