aiohttp==3.7.3; python_version >= "3.6"
apscheduler==3.7.0; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.5.0" and python_version < "4")
asgiref==3.3.1; python_version >= "3.6"
async-timeout==3.0.1; python_version >= "3.9" and python_version < "4.0" and python_full_version >= "3.5.3"
attrs==20.3.0; python_version >= "3.9" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.9" and python_version < "4.0" and python_full_version >= "3.4.0"
certifi==2020.12.5; python_version >= "3.9" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.9" and python_version < "4.0" and python_full_version >= "3.5.0"
chardet==3.0.4; python_version >= "3.9" and python_version < "4.0" and (python_version >= "3.9" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.9" and python_version < "4.0" and python_full_version >= "3.5.0")
click==7.1.2; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
dataclasses-json==0.5.2; python_version >= "3.6"
dj-qiyu-tpl==0.3.5; python_version >= "3.9" and python_version < "4.0"
django-admin-env-notice==0.2
django-constance==2.8.0; python_version >= "3.6"
django-dotenv==1.4.2
django-ipware==3.0.2
django-picklefield==3.0.1; python_version >= "3"
django-qiyu-utils==0.3.7; python_version >= "3.9" and python_version < "4.0"
django-structlog==2.1.0
django==3.1.6; python_version >= "3.6"
docutils==0.16; python_version >= "3.9" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.9" and python_version < "4.0" and python_full_version >= "3.5.0"
dtk-api==0.7.1; python_version >= "3.9" and python_version < "4.0"
fastapi==0.63.0; python_version >= "3.6"
gunicorn==20.0.4; python_version >= "3.4"
h11==0.12.0; python_version >= "3.6"
idna==2.10; python_version >= "3.9" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.9" and python_version < "4.0" and python_full_version >= "3.5.0"
marshmallow-enum==1.5.1; python_version >= "3.9" and python_version < "4.0"
marshmallow==3.10.0; python_version >= "3.9" and python_version < "4.0"
multidict==5.1.0; python_version >= "3.9" and python_version < "4.0"
mypy-extensions==0.4.3; python_version >= "3.6"
pillow==8.1.0; python_version >= "3.6"
psycopg2-binary==2.8.6; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.4.0")
pydantic==1.7.3; python_version >= "3.9" and python_version < "4.0"
pygments==2.8.0; python_version >= "3.9" and python_version < "4.0"
python-multipart==0.0.5
pytz==2021.1
requests==2.25.1; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.5.0")
six==1.15.0; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version < "4"
sqlparse==0.4.1; python_version >= "3.6"
starlette==0.13.6; python_version >= "3.6"
stringcase==1.2.0; python_version >= "3.9" and python_version < "4.0"
structlog==20.2.0; python_version >= "3.9" and python_version < "4.0"
tbk-api==0.2.1; python_version >= "3.9" and python_version < "4.0"
typing-extensions==3.7.4.3; python_version >= "3.9" and python_version < "4.0"
typing-inspect==0.6.0; python_version >= "3.9" and python_version < "4.0"
tzlocal==2.1; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version < "4"
urllib3==1.26.3; python_version >= "3.9" and python_full_version < "3.0.0" and python_version < "4.0" or python_full_version >= "3.5.0" and python_version < "4" and python_version >= "3.9"
uvicorn==0.13.3
yarl==1.6.3; python_version >= "3.9" and python_version < "4.0"
ztk-api==0.3.2; python_version >= "3.9" and python_version < "4.0"
