aiohttp==3.7.4.post0; python_version >= "3.9" and python_version < "4.0"
apscheduler==3.7.0; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.5.0" and python_version < "4")
asgiref==3.3.1; python_version >= "3.6"
async-timeout==3.0.1; python_version >= "3.9" and python_version < "4.0" and python_full_version >= "3.5.3"
attrs==20.3.0; python_version >= "3.9" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.9" and python_version < "4.0" and python_full_version >= "3.4.0"
certifi==2020.12.5; python_version >= "3.9" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.9" and python_version < "4.0" and python_full_version >= "3.5.0"
cffi==1.14.5; python_version >= "3.9" and python_version < "4.0"
chardet==4.0.0; python_version >= "3.9" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.9" and python_version < "4.0" and python_full_version >= "3.5.0"
click==7.1.2; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
colorama==0.4.4; python_version >= "2.7" and python_full_version < "3.0.0" and sys_platform == "win32" or sys_platform == "win32" and python_full_version >= "3.5.0"
cryptography==3.4.6; python_version >= "3.9" and python_version < "4.0"
dataclasses-json==0.5.2; python_version >= "3.6"
dj-qiyu-tpl==0.3.12; python_version >= "3.9" and python_version < "4.0"
django-admin-env-notice==0.2
django-constance==2.8.0; python_version >= "3.6"
django-dotenv==1.4.2
django-ipware==3.0.2
django-picklefield==3.0.1; python_version >= "3"
django-qiyu-utils==0.3.8; python_version >= "3.9" and python_version < "4.0"
django-structlog==2.1.0
django==3.1.7; python_version >= "3.6"
docutils==0.16; python_version >= "3.9" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.9" and python_version < "4.0" and python_full_version >= "3.5.0"
fastapi==0.63.0; python_version >= "3.6"
gunicorn==20.0.4; python_version >= "3.4"
h11==0.12.0; python_version >= "3.6"
httptools==0.1.1; sys_platform != "win32" and sys_platform != "cygwin" and platform_python_implementation != "PyPy"
idna==2.10; python_version >= "3.9" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.9" and python_version < "4.0" and python_full_version >= "3.5.0"
marshmallow-enum==1.5.1; python_version >= "3.9" and python_version < "4.0"
marshmallow==3.10.0; python_version >= "3.9" and python_version < "4.0"
multidict==5.1.0; python_version >= "3.9" and python_version < "4.0"
mypy-extensions==0.4.3; python_version >= "3.6"
pillow==8.1.2; python_version >= "3.6"
psycopg2-binary==2.8.6; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.4.0")
pycparser==2.20; python_version >= "3.9" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.9" and python_version < "4.0" and python_full_version >= "3.4.0"
pydantic==1.8.1; python_full_version >= "3.6.1" and python_version >= "3.9" and python_version < "4.0"
pydes==2.0.1; python_version >= "3.9" and python_version < "4.0"
pygments==2.8.1; python_version >= "3.9" and python_version < "4.0"
pyjwt==2.0.1; python_version >= "3.9" and python_version < "4.0"
python-dotenv==0.15.0
python-multipart==0.0.5
pytz==2021.1
pyyaml==5.4.1; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0"
qiyu-api==0.3.3; python_version >= "3.9" and python_version < "4.0"
requests==2.25.1; python_version >= "3.9" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.9" and python_version < "4.0" and python_full_version >= "3.5.0"
six==1.15.0; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version < "4"
sqlparse==0.4.1; python_version >= "3.6"
starlette==0.13.6; python_version >= "3.6"
stringcase==1.2.0; python_version >= "3.9" and python_version < "4.0"
structlog==21.1.0; python_version >= "3.9" and python_version < "4.0"
typing-extensions==3.7.4.3; python_full_version >= "3.6.1" and python_version >= "3.9" and python_version < "4.0"
typing-inspect==0.6.0; python_version >= "3.9" and python_version < "4.0"
tzlocal==2.1; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version < "4"
urllib3==1.26.4; python_version >= "3.9" and python_full_version < "3.0.0" and python_version < "4.0" or python_full_version >= "3.5.0" and python_version < "4" and python_version >= "3.9"
uvicorn==0.13.4
uvloop==0.15.2; sys_platform != "win32" and sys_platform != "cygwin" and platform_python_implementation != "PyPy" and python_version >= "3.7"
watchgod==0.7; python_version >= "3.5"
websockets==8.1; python_full_version >= "3.6.1"
yarl==1.6.3; python_version >= "3.9" and python_version < "4.0"
