{% load i18n %}
<h3>{% blocktrans with filter_title=title %} By {{ filter_title }} {% endblocktrans %}</h3>

{#i for item, to be short in names#}
{% with choices.0 as i %}
    <ul>
        <li>
            <form method="get">
                <input type="search" name="{{ i.parameter_name }}" value="{{ i.current_value|default_if_none:"" }}"/>

                {#create hidden inputs to preserve values from other filters and search field#}
                {% for k, v in i.get_query.items %}
                    {% if not k == i.parameter_name %}
                        <input type="hidden" name="{{ k }}" value="{{ v }}">
                    {% endif %}
                {% endfor %}
                <input type="submit" value="{% trans '过滤' %}">
            </form>
        </li>

        {#show "All" link to reset current filter#}
        <li{% if i.all_choice.selected %} class="selected"{% endif %}>
            <a href="{{ i.all_choice.query_string|iriencode }}">
                {{ i.all_choice.display }}
            </a>
        </li>
    </ul>
{% endwith %}
