{% load static %}

<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}奇遇淘客网页版{% endblock %}</title>
    <link rel="stylesheet" href="{% static "dj_qiyu_tpl/vendor/bulma/bulma.min.css" %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body>

<div style="height: 2em;"></div>

{% block content %}
    <p>内容正在 建设中 ......</p>
{% endblock %}

{% include "dj_qiyu_tpl/footer.html" with icp="津ICP备20005561号-3" %}

</body>
</html>
